* 
{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

.body 
{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: grid;
    grid-template-columns: 7vw 93vw; 
    grid-template-rows: 15vh 70vh 15vh;
}



.G1  /*-------------------------------------------------asideMenu--------------------------------------------------*/
{
    background-color: #40403e;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    grid-area: 1 / 1 / 4 / 2;
}

    .G1A 
    {
        grid-area: 1 / 1 / 2 / 2; 
    }

    .G1B 
    {
        display: flex;
        flex-direction: column;
        grid-area: 2 / 1 / 3 / 2;
        justify-content: flex-end;
        align-items: center;
    }

        .G1B img 
        {
            height: 3.5vh;
            width: 40%;
            padding: 2vh; 
        }


.G2  /*---------------------------------------------------header---------------------------------------------------*/
{
    display: grid;
    background-color: black;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100%;
    grid-area: 1 / 2 / 2 / 3;
}

    .G2A 
    {
        display: flex;        
        justify-content: center;
        align-items: bottom;
        padding-left: 6vw;
        padding-top: 3vh;
        grid-area: 1 / 1 / 2 / 2;
    }

        .G2A img 
        {
            display: flex;
        }

    .G2B 
    {
        display: flex;        
        justify-content: flex-end;
        align-items: center;
        grid-area: 1 / 2 / 2 / 3;
    }

        .menu ul 
        {
            display: flex;
            justify-content: space-around;
            align-items: baseline; 

        }

            .menu li 
            {
                display: flex;
                padding: 3vw;
            }

                .menu a 
                {
                    text-decoration: none;
                    text-align: left;
                    font-family: 'Miriam Libre', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1vw;
                    color: rgba(177,177,177,1);
                    letter-spacing: 1px;
                }

                    .menu a:hover
                    {
                        color: rgba(237,216,65,0.749);
                    }

        .email 
        {
            white-space: nowrap;
            text-align: left;
            font-family: 'Miriam Libre', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 1vw;
            color: rgba(237,216,65,0.749);
            letter-spacing: 1px;
            text-transform: uppercase;
        }


.G3  /*-------------------------------------------------mobiHeader-------------------------------------------------*/
{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100%;
    grid-area: 1 / 2 / 2 / 3;
}

    .G3A 
    {
        display: flex;        
        justify-content: center;
        align-items: center;
        padding-left: 6vw;
        padding-top: 3vh;
        grid-area: 1 / 1 / 2 / 2;
    }

    .G3B 
    {
        display: flex;        
        justify-content: center;
        align-items: center;
        grid-area: 1 / 2 / 2 / 3;
    }

        .G3B p 
        {
            font-family: 'Miriam Libre', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 6vw;
            color: rgb(217, 217, 217);
            letter-spacing: 1px;
            text-shadow: 0px 0px 30px rgb(250, 248, 248);
        }

    .G3C 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: 1 / 3 / 2 / 4;
    }

/* --- sanduich Icon config animation --- */
    .sanduich-icon 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
    }

    #checkbox-menu1, 
    #checkbox-menu2 
    {
        position: absolute;
        opacity: 0;
    }

        label
        {
            cursor: pointer;
            position: relative;
            display: block;
            height: 22px;
            width: 22px;
        }
        
            label span
            {
                position: absolute;
                display: block;
                height: 5px;
                width: 100%;
                border-radius: 30px;
                background: rgba(237,216,65,0.749);
                transition: 0.5s ease-in-out;
            }

            .G1 label span
            {
                background: rgb(214, 214, 214);
            }
            
                label span:nth-child(1)
                {
                    top: 0;
                }
                
                label span:nth-child(2)
                {
                    top: 8px;
                }
                
                label span:nth-child(3)
                {
                    top: 16px;
                }
                
        #checkbox-menu1:checked + label span:nth-child(1),
        #checkbox-menu2:checked + label span:nth-child(1)
        {
            transform: rotate(135deg);
            top: 8px;
        }
        
        #checkbox-menu1:checked + label span:nth-child(2), 
        #checkbox-menu2:checked + label span:nth-child(2)
        {
            transform: rotate(45deg);
            top: 8px;
        }
        
        #checkbox-menu1:checked + label span:nth-child(3),
        #checkbox-menu2:checked + label span:nth-child(3)
        {
            transform: rotate(135deg);
            top:8px;
        } 

.G4  /*---------------------------------------------------main-----------------------------------------------------*/
{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 80% 20%;
    grid-area: 2 / 2 / 3 / 3
}

    .G4A 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: 1 / 1 / 2 / 2;
    }

        .G4A p 
        {
            font-family: 'Hind Madurai', sans-serif;
            text-align: left;
            font-style: normal;
            font-weight: lighter;
            font-size: 8vw;
            color: rgba(217,217,217,1);
            letter-spacing: 0.2px;
            line-height: 1.0;
            text-transform: capitalize;
        }

    .G4B 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: 1 / 2 / 3 / 3;
    }

        .div-andre 
        {
            padding-bottom: min(200px, 20vw);
        }

            .G4B img 
            {
                height: 30vw;
                max-height: 422px;
                border-radius: 60px;

            }

    .G4C 
    {
        display: flex;
        grid-area: 2 / 1 / 3 / 3;
    }

            .G4C img 
            {
                width: 40%;
                height: 100%;
                max-width: 550px;
                min-width: 250px;
                max-height: 110px;
            }


.G5  /*--------------------------------------------------footer----------------------------------------------------*/
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: 3 / 2 / 4 / 3;
}

    .G5 img 
    {
        width: 10vw;
        height: 10vh;
        max-width: 150px;
        min-width: 55px;
        max-height: 100px;
        min-height: 55px;
    }

    .mini-text 
    {
        font-size: 1vw;
        color: rgba(217,217,217,1);
        margin-right: 3vw;
    }


/*------------------------------------------------ @ Media Queries General -----------------------------------------*/

@media (min-width: 500px) and (max-width: 1000px) 
{
    .logo img 
    {
        width: 80px;
    }
}

@media (max-width: 500px) 
{
    .logo img 
    {
        width: 40px;
    }
}

@media (max-width: 1200px) 
{
    .menu a 
    {
        font-size: 12px;
    }
}

@media (max-width: 1050px) 
{
    .email 
    {
        font-size: 10.5px;
    }
}

/* Media Queries footer */
@media (min-width: 1400px) 
{
    .mini-text 
    {
        font-size: 14px;
    }
}

@media (max-width: 1000px) 
{
    .mini-text 
    {
        font-size: 10px;
    }
}

/*------------------------------------------------- @ Media Queries Landscape ---------------------------------------*/

/* Media Queries Header */
@media (orientation: landscape) 
{
    .G3 
    {
        display: none;
    }
}



/*-------------------------------------------------@ Media Queries Portrait ----------------------------------------*/

/* Media Queries Header */
@media (orientation: portrait) 
{

    .body 
    {
        grid-template-columns: 0% 100% 0%;
    }

    .G1, .G2 
    {
        display: none;
    }

    .G4 
    {
        grid-template-columns: 100%;
    }

        .G4B 
        {
            grid-area: 2 / 1 / 3 / 2;
            padding-bottom: 10vh;
        }

            .div-andre 
            {
                padding: min(150px, 20vw);
            }

            .G4B img 
            {
                max-height: 230px;
            }

        .G4C 
        {
            display: none;
        }

    .G5 img 
    {
        height: 8vh;
        width: 14vw;
        max-width: 130px;
        min-width: 75px;
    }

        .mini-text 
        {
            font-size: 1.2vh;
        }
}

/* ---------------------------------------------------------------------------------------*/

/* saduich menu bar and G1Z expecs */
#sandA, #sandB {
    display: none;
}
.G1Z, .G3Z 
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.3vw solid rgba(217,217,217,1);
    margin-bottom: 40vh;
    grid-area: 1 / 1 / 3 / 2;
    z-index: 10;
}

    .G1Z ul, .G3Z ul 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

        .G1Z li, .G3Z li
        {
            list-style: none;
            padding: 5vh 0;
        }

            .G1Z a, .G3Z a
            {
                color: rgba(217,217,217,1);
                text-decoration: none;
                font-size: 1vw;
                margin: 10px 0;
                font-weight: 300;
                letter-spacing: 0.2vw;
                text-transform: uppercase;
            }

                .G1Z a:hover
                {
                    color: rgb(228, 203, 19);
                }


/* --- saduich menu bar to G3Z --- */

.G3Z 
{
    display: none;
    height: 0vh;
    width: 100vw;
    margin-bottom: 0;
    background-color: black;
    border: none;
}

    .G3Z a 
    {
        color: rgba(237,216,65,0.749);
        font-size: 2vh;
        letter-spacing: 0.3vh;
    }

    .G3Z a:hover
    {
        color: rgba(217,217,217,1);
    }